.info {
  display: flex;
  padding: 15px;
  background-color: #EEEEEE;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #222935;
}