.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #26C17E;
  margin-bottom: 40px;
}